@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
.Music {
    background: url(../images/bg.jpg) no-repeat 50% 50%;
    padding: 30px 0 0;
    width: 100%;
    height: 1000px;
}

.MusicPlaySound {
    /*background: url(img/none.png);*/
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.MusicPlayBg {
}

.MusicPlaySound > img {
    position: absolute;
    left: 50%;
}

.MusicPlayBg {
    top: 61px;
    margin-left: -207px;
}

.MusicPlayProcess {
    top: 57px;
    margin-left: -211px;
}

.MusicPlayBox {
    position: absolute;
    width: 415px;
    height: 417px;
    left: 50%;
    top: 61px;
    margin-left: -209px;
    
}

.MusicPlayBox .title {
    margin: 55px auto 0;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.MusicPlayBox .name {
    margin: 5px auto 0;
    text-align: center;
    font-size: 20px;
    color: #33ffff;
}

.MusicPicName {
    width: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
    border-radius: 100%;
}

.MusicPicButton {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -27px 0 0 -27px;
}

.MusicPlayBox .icon {
    width: 42px;
    height: 20px;
    display: block;
    position: absolute;
    color: #fff;
    padding-top: 33px;
    text-align: center;
    top: 290px;
    font-size: 14px;
}

/*.MusicPlayBox .Share {
    background: url(img/ht.png) no-repeat center top;
    left: 150px;
}

.MusicPlayBox .Next {
    background: url(img/next.png) no-repeat center top;
    right: 150px;
}*/

.MusicPlayProcess.rotate {
    animation: rotate 30s infinite linear;
    -webkit-animation: rotate 30s infinite linear; 
    -moz-animation: rotate 30s infinite linear;
    -ms-animation: rotate 30s infinite linear;
    -o-animation: rotate 30s infinite linear;
}

.MusicPlayProcess.pause {
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.MusicPicName.PicNameRotate {
    animation: rotate 4s infinite linear;
    -webkit-animation: rotate 4s infinite linear;
    -moz-animation: rotate 4s infinite linear;
    -ms-animation: rotate 4s infinite linear;
    -o-animation: rotate 4s infinite linear;
}

.MusicPicName.pause {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
@keyframes rotate
	{
	0%   {transform: rotate(0deg)}
	25%  {transform: rotate(90deg)}
	50%  {transform: rotate(180deg)}
	75%  {transform: rotate(270deg)}
	100% {transform: rotate(360deg)}
	}
	
	@-moz-keyframes rotate /* Firefox */
	{
	0%   {-moz-transform: rotate(0deg)}
	25%  {-moz-transform: rotate(90deg)}
	50%  {-moz-transform: rotate(180deg)}
	75%  {-moz-transform: rotate(270deg)}
	100% {-moz-transform: rotate(360deg)}
	}
	
	@-webkit-keyframes rotate /* Safari and Chrome */
	{
	0%   {-webkit-transform: rotate(0deg)}
	25%  {-webkit-transform: rotate(90deg)}
	50%  {-webkit-transform: rotate(180deg)}
	75%  {-webkit-transform: rotate(270deg)}
	100% {-webkit-transform: rotate(360deg)}
	}
	
	@-o-keyframes rotate /* Opera */
	{
	0%   {-o-transform: rotate(0deg)}
	25%  {-o-transform: rotate(90deg)}
	50%  {-o-transform: rotate(180deg)}
	75%  {-o-transform: rotate(270deg)}
	100% {-o-transform: rotate(360deg)}
	}
